@import url('../config/font.css');
@import url('../config/variables.css');
@import url('../config/Modal.css');
@import url('../config/Buttons.css');

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--light-grey);
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--light-grey);
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--light-grey);
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--light-grey);
}

@media screen and (max-width: 1200px) {
    .titlesContainer {
        display: none;
    }
    .titlesNames {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .titlesContainer {
        display: grid;
        place-items: left;
        grid-template-columns: 30% 45% 25%;
        height: 30px;
    }

    .titlesNames {
        display: grid;
        padding-left: 30px;
    }
}

label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    margin-top: 8px;
}

.taskBoard {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.tasksContainer {
    top: 20px;
    left: 20px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    width: auto;
    height: 74px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.taskContainer:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.taskContent {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.taskContent__mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.taskContent__dateContent {
    display: flex;
    justify-content: flex-end;
}

.taskDate {
    display: flex;
    justify-content: flex-end;
    color: var(--gray);
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskName {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    margin: 0 0 10px 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputContainer {
    display: flex;
    text-wrap: wrap;
    flex-direction: row;
    margin: 0;
    align-items: center;
    border-radius: 8px;
}
