.btn {
    transition: 0.5s all;
    text-decoration: none;
    width: auto;
    padding: 0 8px 0 8px;
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.editButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.cloneButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.cloneButton:hover {
    cursor: pointer;
    filter: invert(26%) sepia(87%) saturate(1316%) hue-rotate(199deg) brightness(99%) contrast(114%);
}

.deleteButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.editButton:hover {
    cursor: pointer;
    filter: invert(55%) sepia(83%) saturate(1017%) hue-rotate(13deg) brightness(109%) contrast(94%);
}

.deleteButton:hover {
    cursor: pointer;
    filter: invert(31%) sepia(24%) saturate(5892%) hue-rotate(333deg) brightness(83%) contrast(94%);
}

.createButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    top:0;
    overflow:hidden;
}

.createButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-right: 10px;
    background-color: var(--primary);
    border-radius: 10px;
    border-style: none;
    /* width: 97px; */
    height: 40px;
    color: var(--light);
    font-size: 16px;
    font-weight: normal;
    line-height: 19.36px;
}

.createButton:hover {
    cursor: pointer;
    background-color: var(--primary-light);
}

.plusButton {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.inputClearButton {
    margin: 0 0 0 -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
    width: 20px;
    height: 20px;
}

.inputClearButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}
