.error {
    color: red;
    margin: 0;
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalContent {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalRemoveContent {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalRemoveParagraph {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.modalBoldText {
    font-weight: bold;
}

.modalCloseButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}

.modalCloneButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}

.modalInput {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    width: 250px;
    height: 39px;
    padding-left: 10px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    word-break: break-all;
}

.modalHeaderName {
    display: flex;
    margin: 0;
    word-break: break-word;
    font-size: 28px;
    font-weight: 400;
    line-height: 34.13px;
    text-align: left;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.modalCloseButton {
    display: flex;
    align-items: end;
    padding: 8px;
    width: 20px;
    height: 20px;
}

.modalCloneButton {
    display: flex;
    align-items: end;
    padding: 8px;
    width: 20px;
    height: 20px;
}

.modalModeText {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    hyphens: auto;
}

.modalModeText__description {
    margin: 0;
    word-break: break-all;
}

.modalModeText__date {
    margin: 0;
    font-size: 12px;
    text-align: right;
}

.modalCreateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--success);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--light);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalCreateButton:hover {
    cursor: pointer;
    background-color: var(--success-light);
}

.modalCancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--light);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalCancelButton:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
    color: var(--light);
}

.modalEditButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalCloneButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalCloneButton:hover {
    cursor: pointer;
    background-color: var(--warning-light);
    color: var(--dark-grey);
}

.modalEditButton:hover {
    cursor: pointer;
    background-color: var(--warning-light);
}

.modalEditfromViewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalEditfromViewButton:hover {
    cursor: pointer;
    background-color: var(--info-light);
}

.modalRemoveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--danger);
    border-radius: 8px;
    width: 96px;
    height: 36px;
    color: var(--light);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.modalRemoveButton:hover {
    cursor: pointer;
    background-color: var(--danger-light);
}
